//
// Titlebuttons
//
headerbar,
.titlebar {
  &.default-decoration button.titlebutton {
    // no vertical padding for ssd buttons
    padding-top: 0px; // already handled by the titlebar-padding
    padding-bottom: 0px;
    min-width: 22px;
    min-height: 22px;
    margin: 0;
  }

  button.titlebutton {
    $_wm_backdrop_icon_color: lighten($wm_icon_unfocused_bg, 5%);

    min-width: 16px;
    min-height: 16px;
    @extend .image-button;

    padding: 4px;
    margin: 0;
    transition: none;

    @include button(undecorated);
    background-color: transparentize($header_bg, 1);

    &:hover {
      @include button(header-hover);
    }
    &:active,
    &:checked {
      @include button(header-active);
    }

    &.close,
    &.maximize,
    &.minimize {
      // -gtk-icon-theme: 'Reversal-green-dark';
      background-color: transparent;
      background-size: 16px 16px;
      background-position: center;
      background-repeat: no-repeat;
      border-width: 0;
      color: transparent;

      &:backdrop {
        @include draw_circle($grey_color);
      }
    }

    &.close {
      background-image: -gtk-scaled(url("../metacity-1/mac-close.svg"), url("../metacity-1/mac-close@2x.svg"));

      &:hover,&:active {
        background-image: -gtk-scaled(url("../metacity-1/mac-close_a.svg"), url("../metacity-1/mac-close_a@2x.svg"));
      }
    }

    &.maximize {
      background-image: -gtk-scaled(url("../metacity-1/mac-max.svg"), url("../metacity-1/mac-max@2x.svg"));

      &:hover,&:active {
        background-image: -gtk-scaled(url("../metacity-1/mac-max_a.svg"), url("../metacity-1/mac-max_a@2x.svg"));
      }
    }

    &.minimize {
      background-image: -gtk-scaled(url("../metacity-1/mac-min.svg"), url("../metacity-1/mac-min@2x.svg"));

      &:hover,&:active {
        background-image: -gtk-scaled(url("../metacity-1/mac-min_a.svg"), url("../metacity-1/mac-min_a@2x.svg"));
      }
    }
  }
}