

//
// Lists
//
list {
  background-color: $base_color;
  border-color: $borders_color;

  row {
    padding: 2px;
  }
}

row {
  &:not(:hover) {
    transition: all 150ms $ease-out-quad;
  }

  &:selected {
    @extend %selected_items;

    button {
      @extend %selected_button;
    }
  }

  &.activatable {
    &.has-open-popup,
    &:hover {
      background-color: transparentize(white, 0.95);
    }

    &:active {
      color: $fg_color;
    }
    &:disabled {
      color: $insensitive_fg_color;
      image {
        color: inherit;
      }
    }

    &:selected {
      &:active {
        color: $selected_fg_color;
      }

      &.has-open-popup,
      &:hover {
        background-color: mix(black, $selected_bg_color, 10%);
      }
    }
  }
}