//
// Window Decorations
//
decoration {
  border-radius: 8px;
  border-width: 0px;

  $_wm_border: transparentize(black, 0.65);
  $_wm_border_backdrop: transparentize(black, 0.7);

  box-shadow: 0 3px 9px 1px transparentize(black, 0.5), 0 0 0 1px $wm_border; //doing borders with box-shadow

  // this is used for the resize cursor area
  margin: 10px;

  &:backdrop {
    // the transparent shadow here is to enforce that the shadow extents don't
    // change when we go to backdrop, to prevent jumping windows
    box-shadow: 0 3px 9px 1px transparent, 0 2px 6px 2px transparentize(black, 0.8),
      0 0 0 1px $wm_border_unfocused;
  }

  .fullscreen &,
  .maximized &,
  .tiled &,
  .tiled &:backdrop {
    border-radius: 0;
    box-shadow: 0 3px 9px 1px transparent, 0 2px 6px 2px transparent, 0 0 0 1px $wm_border_unfocused;
  }
  .popup & {
    box-shadow: none;
    border-radius: 0;
  }
  // server-side decorations as used by mutter
  .ssd & {
    border-radius: 8px;
    box-shadow: 0 0 0 1px transparentize(black, 0.35);

    &.maximized {
      border-radius: 0;
    }
  }
  .csd.popup & {
    border-radius: 2px;
    box-shadow: 0 1px 4px transparentize(black, 0.8), 0 0 0 1px transparentize($wm_border, 0.1);
  }
  tooltip.csd & {
    border-radius: 2px;
    box-shadow: 0 1px 3px 1px $_wm_border;
  }
  message-dialog.csd & {
    border-radius: 3px;
  }
  .solid-csd & {
    border-radius: 0;
    margin: 1px;
    background-color: $header_bg;
    box-shadow: none;
  }
}