

//
// Buttons on selected backgrounds
//
%selected_button {
  @at-root %selected_button_normal,
    & {
    color: $selected_fg_color;
    background-color: transparentize($selected_fg_color, 1);
    border-color: transparentize($selected_fg_color, 0.5);
  }

  &.flat {
    @include button(undecorated);
    color: $selected_fg_color;
    background-color: transparentize($selected_fg_color, 1);

    @at-root %selected_button_flat_disabled,
      &:disabled {
      &,
      label {
        color: transparentize($selected_fg_color, 0.6);
      }
    }
  }
  &:hover {
    color: $selected_fg_color;
    background-color: $selected_bg_color;
    border-color: $selected_bg_color;
  }
  @at-root %selected_button_active,
    &:active,
    &:active:hover,
    &:checked {
    color: $selected_bg_color;
    background-color: $selected_fg_color;
    border-color: $selected_fg_color;
  }
  &:disabled {
    &,
    label {
      color: transparentize($selected_fg_color, 0.5);
    }
    background-color: transparentize($selected_fg_color, 1);
    border-color: transparentize($selected_fg_color, 0.6);

    @at-root %selected_button_disabled_checked,
      &:active,
      &:checked {
      color: $selected_bg_color;
      background-color: transparentize($selected_fg_color, 0.5);
      border-color: transparentize($selected_fg_color, 0.6);
    }
  }
}

// catch all extend
%selected_items {
  background-color: $selected_bg_color;

  @at-root %nobg_selected_items,
    & {
    color: $selected_fg_color;

    @at-root %selected_items_disabled,
      &:disabled {
      color: mix($selected_fg_color, $selected_bg_color, 50%);
    }
  }
}


@import "./ui/basic.scss";


@import "./ui/entry.scss";

@import "./ui/button.scss";

@import "./ui/toolbar.scss";

@import "./ui/treeview.scss";




@import "./ui/notebook.scss";


@import "./ui/scrollbar.scss";


@import "./ui/switch-check.scss";


@import "./ui/other.scss";


@import "./ui/list.scss";



@import "./ui/dialog.scss";



@import "./ui/sidebar.scss";



@import "./ui/color.scss";


@import "./ui/misc.scss";
@import "./ui/menu.scss";


//
// Shortcuts Help
//
button.circular,
button.circular-button,
.stack-switcher > button.circular {
  min-width: 24px;
  min-height: 24px;
  padding: 5px;
  border-radius: 50%;
  -gtk-outline-radius: 50%;

  label {
    padding: 0;
  }
}

.keycap {
  min-width: 16px;
  min-height: 20px;

  padding: 3px 6px 4px 6px;

  color: $fg_color;
  background-color: $base_color;
  border: 1px solid $borders_color;
  border-radius: 2.5px;
  box-shadow: inset 0px -2px 0px transparentize(black, 0.85);
}

//
// Dnd
//
*:drop(active):focus,
*:drop(active) {
  box-shadow: inset 0 0 0 1px $selected_bg_color;
}



@import "./ui/window.scss";

@import "./ui/headerbar.scss";




